.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--gray-color) ;
}
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width:768px){
    .nav__menu{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
       
        padding: 2rem;
        background-color: var(--white-color);
        transition: .5s;
    }
}
.nav__item{
    margin-bottom: var(--mb-4);
}
.nav__link{
   color: var(--dark-color);
    font-weight: var(--font-semi);
}
.nav__link:hover{
    color: var(--first-color);
}
.nav__logo{
    font-weight: var(--font-semi);
}
.nav__cart{
    font-size: 1.5rem;
    margin-right: var(--mb-2);
}
.nav__toggle{
    font-size: 1.5rem;
    cursor: pointer;
}
.show{
    right: 0;
}
.active{
    color: var(--first-color);
}


@media screen and (min-width:768px){
    .nav{
        height: calc(var(--header-height)+ 1rem);
        justify-content: initial;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .nav__menu{
        margin-left: auto;
    }
    .nav__list{
        display: flex;
    }
    .nav__item{
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }
    #nav-toggle{
        display: none;
    }    
}
